$negro: #000;
$blanco: #FEFEFE;
$blancoMedio: #88888811;
$blancoOscuro: rgb(228, 228, 228);
$grisMedio: #ffffff20;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: #5b7dbc;
$azultext: #00313f;
$azulshadow: #22bced;
$azulHover: #5b7dbc7e;
$azulNoHover: #2d4363;
$azuldark: #00090c;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, .16);
$sombraLight: 10px 10px 0px rgba(0, 0, 0, .16);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html main {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Padauk', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

li {
    list-style: none;
}

hr {
    width: 90%;
    margin-left: 5%;
}

body {
    background: $blanco;
    transition: .3s ease all;
    &.dark {
        background: $azuldark;
        color: $blancoOscuro;
        video {
            display: none;
        }
        #menu ul li a:hover {
            background: rgb(19, 19, 19);
            transition: .3s ease all;
        }
        .header--title-container,
        .header--text-container,
        .skill-card--container {
            background: $azulHover;
            border: $azulshadow solid 0.5px;
        }
        .image {
            border: $azulshadow solid 0.5px;
            padding: 0.4rem;
            background-color: $azulHover;
        }
        .main-details-container,
        .main-skills-container {
            background: none;
        }
        .img_theme-dark {
            display: inherit;
        }
        .img_theme-white {
            display: none;
        }
        .main-experience-container {
            background-color: $negro;
        }
        .main-experience-container h2 {
            color: $azulshadow;
        }
        .main-skills-container h2 {
            color: $azulshadow;
        }
    }
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
header {
    background: $blanco;
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    transition: .3s ease all;
    box-shadow: $sombraDark;
    body.dark & {
        background: $grisOscuro;
        box-shadow: $sombraLight;
        a {
            color: $grisClaro;
            &:hover {
                color: $grisClaroHover;
            }
        }
    }
    .logotipo {
        font-weight: 700;
    }
    .enlaces {
        display: flex;
        align-items: center;
        a {
            margin-right: 40px;
            &:hover {
                color: $grisClaroHover;
            }
        }
    }
}

.nav_100-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.menu-toggle {
    display: none;
    margin-left: auto;
    color: $azul;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

.logo a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "Press Start2P", cursive;
}

.logo {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: .08%;
    width: 50px;
    height: 60px;
    padding-bottom: 10px;
}

#menu {
    margin-left: auto;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    display: inline-block;
    position: relative;
    color: gray;
    text-decoration: none;
    line-height: 50px;
    padding: 0 9px;
    text-transform: uppercase;
    transition: .2s;
}

#menu ul li a:hover {
    background: whitesmoke;
}

.show {
    // height: 305px !important;
    height: auto !important;
}

@media screen and (max-width:700px) {
    .menu-toggle {
        display: block;
    }
    #menu {
        background: white;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        border: 0px solid #eee;
        overflow: hidden;
        transition: .3s ease-out;
    }
    #menu ul li {
        display: block;
        text-align: center;
    }
    #menu ul li a {
        color: gray;
        font-size: 20px;
        border-bottom: 0px solid white;
        width: 100%;
    }
    #menu ul li a:hover {
        background: whitesmoke;
    }
    .container {
        padding: 10px;
    }
    .dark {
        ul li {
            background: $grisOscuro;
        }
        #menu {
            background: $grisOscuro;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            height: 0;
            border: 0px solid $grisOscuro;
            overflow: hidden;
            transition: .3s ease-out;
        }
        #menu ul li a:hover {
            background: rgb(19, 19, 19);
        }
    }
}

a {
    color: $grisOscuro;
    text-decoration: none;
    font-weight: 500;
}

.contenedor {
    max-width: 1000px;
    width: 40%;
    margin: auto;
    padding: 50px 0;
}

.container {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    padding: 20px;
}

.container p {
    margin-bottom: 10px;
}

.navTop {
    margin-top: 5px;
}

.buttonStyle {
    margin-left: auto;
}

// INDEX HOME
canvas {
    display: block;
    vertical-align: bottom;
}

.container-details {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 60px;
    // background-color: #00313f;
}

.container-details article {
    position: absolute;
    width: 90%;
    top: 40vh;
    margin-left: 5%;
    padding: 1rem;
    border-radius: 10px;
    body.dark & {
        // background: $azulHover;
        // border: $azulshadow solid 0.5px;
    }
}

.container-details article h1 {
    width: 90%;
    top: 160px;
    margin-left: 5%;
    font-size: 5.3rem;
    line-height: 4.2rem;
    color: $blanco;
    text-shadow: 2px 2px 4px $negro;
    text-align: center;
    body.dark & {
        text-shadow: 2px 2px 8px $azultext;
    }
    @media screen and (max-width:500px) {
        width: 98%;
        margin-left: 1%;
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
}

.word {
    margin-left: 35%;
    justify-content: end;
    font-size: 2.5rem;
    color: $blanco;
    text-shadow: 2px 2px 4px $negro;
    line-height: 1.4em;
    height: 1.4em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    body.dark & {
        text-shadow: 2px 2px 8px $azultext;
    }
    @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 6%;
    }
}

.word:before {
    content: '';
    background-color: $blanco;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
    @media screen and (max-width: 500px) {
        height: 1.5rem;
        top: 0px;
        bottom: 0px;
    }
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    // font-family: Helvetica, Arial, sans-serif;
    // font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/imgs/escuelaAristo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url('');
        background-color: $azuldark;
    }
}

// youtubeSection
.youtuber {
    margin-left: 22%;
    justify-content: end;
    font-size: 2rem;
    color: $azultext;
    text-shadow: 1px 1px 2px $azulshadow;
    line-height: 1.4em;
    height: 1.4em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    body.dark & {
        color: $blanco;
        text-shadow: 2px 2px 8px $azultext;
    }
    @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 10%;
    }
}

.youtuber:before {
    content: '';
    background-color: $blanco;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
    @media screen and (max-width: 500px) {
        height: 1.5rem;
        top: 0px;
        bottom: 0px;
    }
}

.container-other {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: $blanco;
    body.dark & {
        background-color: $negro;
    }
}

.container-other h2 {
    width: 95%;
    margin: 0 auto;
    margin-top: 1.8rem;
    padding-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    color: $azultext;
    text-shadow: 1px 1px 2px $azulshadow;
    body.dark & {
        color: $blanco;
    }
    @media screen and (max-width: 500px) {
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

.container-other h3 {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: $azuldark;
    body.dark & {
        color: $blanco;
    }
    @media screen and (max-width: 500px) {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

.container-other aside div {
    width: 80%;
    margin: 0 auto;
    padding: 0.3rem 0 0 0;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.caja1 {
    justify-content: space-between;
    width: 40%;
    min-width: 200px;
    max-width: 800px;
    order: 1;
    margin-top: 2.5rem;
    margin-left: 5%;
    @media screen and (max-width: 500px) {
        width: 85%;
        max-width: 500px;
        margin: 0 auto;
        order: 2;
    }
}

.caja1 img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.caja2 {
    width: auto;
    min-width: 100px;
    margin-left: 0px;
    margin-right: 0rem;
    margin: 1rem;
    flex: 8;
    order: 2;
    flex-grow: 4;
    @media screen and (max-width: 500px) {
        justify-content: space-between;
        width: auto;
        min-width: 200px;
        max-width: 500px;
        order: 0;
    }
}

.youtube--btn {
    background-color: transparent;
    border: red 0.5px solid;
    border-radius: 10px;
    width: 90px;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
}

.youtube--btn:hover {
    background-color: rgb(196, 0, 0);
    .youtube--btn_ico {
        background-image: url(/assets/icons/play.png);
    }
}

.youtube--btn p {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: red;
    body.dark & {
        color: $blanco;
    }
    &:hover {
        color: $blanco;
    }
}

.youtube--btn_ico {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 15px 30px;
    background-image: url(/assets/icons/playRed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.skills-detail-container1 {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: whitesmoke;
    padding-bottom: 5rem;
    body.dark & {
        background-color: $azuldark;
    }
}

.skills-scroll--table1 {
    justify-content: space-between;
    width: 40%;
    min-width: 100px;
    max-width: 800px;
    order: 0;
    border: 0.5px solid $azulshadow;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 1.5rem;
    // padding-left: 40px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: transparent;
    border-radius: 10px;
    // border: red solid;
    &:hover {
        background-color: $azulHover;
    }
    @media screen and (max-width: 450px) {
        width: 85%;
        font-size: 1.3rem;
    }
}

.skills-scroll--table1 table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    // border: green solid;
    margin-left: 0px !important;
}

.skills-scroll--table1 img {
    width: 60px;
    margin-left: 10px !important;
    // border: yellow solid;
    @media screen and (max-width: 450px) {
        width: 40%;
        margin-left: 30px !important;
    }
}

.skills-scroll--table12 {
    justify-content: space-between;
    width: 40%;
    min-width: 100px;
    max-width: 800px;
    order: 1;
    border: 0.5px solid $azulshadow;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 40px;
    color: $azuldark;
    &:hover {
        background-color: $azulHover;
    }
    body.dark & {
        color: $blanco;
    }
    @media screen and (max-width: 450px) {
        width: 85%;
        font-size: 1.3rem;
    }
}

.skills-scroll--table12 table {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.skills-scroll--table12 img {
    width: 60px;
    margin-left: 0px !important;
    // border: yellow solid;
    @media screen and (max-width: 450px) {
        width: 60px;
        margin-left: -20px !important;
    }
}

// CONTACTO
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    min-height: calc(100vh - 200px);
    margin-bottom: 1rem;
}

.login h2 {
    font-size: 2.5rem;
    font-weight: 600;
    body.dark & {
        color: $blanco;
    }
    @media screen and (max-width: 500px) {
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

.login__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    background-color: transparent;
    border: 2px solid $azulshadow;
    border-radius: 40px;
    color: $azultext;
    padding: 30px 30px 20px;
    min-height: 500px;
    min-width: 300px;
    max-width: 400px;
    margin-top: 100px;
    @media screen and (max-width: 450px) {
        width: 100%;
        border-radius: 0px;
        background-color: transparent;
        color: $azultext;
        border: none;
    }
}

.login__container--form {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.input--register {
    color: $azuldark;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid $azulshadow;
    font-size: 1.2rem;
    padding-left: 5px;
    margin: 1rem auto;
    outline: none;
    width: 85%;
    height: 47px;
    order: 1;
    body.dark & {
        color: $azulshadow;
    }
}

.button {
    background-color: $azulshadow;
    border: none;
    border-radius: 25px;
    color: $azuldark;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 35px 0px;
    outline: none;
    &:hover {
        background-color: $azul;
        border: $azulshadow solid 0.5px;
        color: $blanco;
    }
}

.login1 {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.user {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/profile-user.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

.phone {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/phone-call.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

.mail {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/email.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

.font {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/font.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

// CAROUSEL
.galeria--btn {
    background-color: transparent;
    border: $azulshadow 0.5px solid;
    border-radius: 10px;
    width: 120px;
    justify-content: space-around;
    display: flex;
    margin: 20px auto;
}

.galeria--btn:hover {
    background-color: $azulHover;
    .galeria--btn_ico {
        background-image: url(/assets/icons/play.png);
    }
}

.galeria--btn p {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
    &:hover {
        color: $azuldark;
    }
}

.container-galeria {
    width: 100%;
    height: auto;
    padding-top: 60px;
}

.container-galeria article {
    /* position: absolute; */
    width: 100%;
    top: 40vh;
    // margin-left: 5%;
    padding: 5PX;
    border-radius: 10px;
    /* body.dark & {
        // background: $azulHover;
        // border: $azulshadow solid 0.5px;
    } */
}

.container-galeria article h2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    color: $azultext;
    text-shadow: 1.5px 1.5px 3px $azulshadow;
    body.dark & {
        color: $blanco;
    }
    @media screen and (max-width:500px) {
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
}

img {
    /* width: 100%; */
    max-width: 100%;
}

.container-all {
    position: relative;
    max-width: 500px;
    width: 100%;
    // height: 900px !important;
    height: auto;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    background-color: transparent;
    /* border: red solid 2px; */
}

.container-all h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $azultext;
    margin-left: 2%;
    body.dark & {
        color: $blanco;
    }
}

.slide {
    /* margin-top: 260px !important; */
    width: 100%;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    // border: solid red;
}

.item-slide {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: relative;
    bottom: 10px;
    // margin-bottom: 50px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border: solid red;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $azultext;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: #fff;
}

.pagination0 {
    position: relative;
}

.pagination1 {
    position: relative;
    // top: -100px;
    // margin-top: 1000px !important;
    // bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border: yellow solid;
}

.pagination-picture_course {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 0.5px solid $azultext;
    width: 23.75%;
    height: 24% !important;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.5%;
    text-align: center;
    transition: all 300ms;
    background-color: transparent;
    @media screen and (min-width: 1080px) {
        width: 89px;
        height: 89px;
    }
}

.pagination-picture_course:hover {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (min-width: 1080px) {
        width: 150px;
        // transform: scale(1.8);
    }
}

.pagination-picture_course img {
    // margin-top: 100px !important;
    display: inline-block;
    // max-width: none;
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
    // @media screen and (min-width: 1080px) {
    //     width: 200px;
    // }
}

.pagination-picture_course:hover img {
    opacity: 1;
    transform: scale(1);
}

@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}


/*MAIN*/

@media screen and (min-width:700px) {
    .video-dos {
        display: none;
    }
}

.main-details-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(156, 244, 255, 0.60) 8%, rgba(67, 235, 255, 0.60) 13%, rgba(30, 231, 255, 0.60) 19%, rgba(0, 194, 224, 0.60) 26%, rgba(0, 155, 181, 0.60) 33%, rgba(0, 126, 148, 0.60) 40%, rgba(0, 97, 115, 0.60) 46%, rgba(0, 71, 84, 0.60) 52%, rgba(0, 49, 57, 0.60) 59%, rgba(0, 37, 43, 0.60) 65%, rgba(0, 35, 41, 0.60) 72%, rgba(0, 29, 34, 0.60) 78%, rgba(0, 18, 22, 0.60) 85%, rgba(0, 14, 17, 0.60) 93%, rgba(0, 0, 0, 0.60) 100%);
    border: transparent 0.01px solid;
}

.main-details-container .video {
    width: 100%;
    z-index: -10;
    position: absolute;
}

.header--image-container {
    width: 80%;
    min-width: 120px;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 50px;
    // border: yellow solid;
}

.image {
    width: 100%;
    border-radius: 5px;
    border: $blanco solid 7.5px;
    background-color: $blanco;
}

.header--title-container {
    width: 80%;
    margin: 0 auto;
    background-color: $blanco;
    border-radius: 5px;
    min-width: 120px;
    max-width: 400px;
    border: transparent solid;
}

.header--title-container h1 {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    color: $azultext;
    text-shadow: 1px 1px 2px $azulshadow;
    body.dark & {
        color: $blanco;
    }
}

.header--title-container h2 {
    width: 95%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
}

.header--title-container p {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: $azultext;
    border: transparent solid;
    body.dark & {
        color: $blanco;
    }
}

.header--title-container a {
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
    &:hover {
        color: $azultext;
        text-shadow: 1px 1px 2px $azulshadow;
    }
}

.header--text-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: $blanco;
    border-radius: 5px;
    min-width: 120px;
    max-width: 400px;
    border: transparent solid;
}

.header--text-container p {
    width: 85%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 300;
    text-align: justify;
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
}

.about--image-container {
    position: relative;
    width: 30px;
    height: 10px;
    margin: 0 auto;
    border-radius: 100px;
}

.about--img {
    position: absolute;
    top: -10px;
    width: 32px;
}

.main-experience-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: $blanco;
    border: transparent 0.01px solid;
}

.about--btn {
    position: absolute;
    margin-left: calc(50% - 115px);
    top: -30px;
    width: 70%;
    min-width: 120px;
    max-width: 230px;
    background: $azulshadow;
    margin-bottom: 20px;
    border-radius: 10px;
    border: $azulshadow solid;
    &:hover {
        background: $azultext;
        border: $azultext solid;
    }
}

.img_theme-dark {
    width: 50px;
    float: left;
    margin-top: 7.5px;
    margin-left: 15px;
}

.img_theme-white {
    display: inherit;
    width: 50px;
    float: left;
    margin-top: 7.5px;
    margin-left: 15px;
}

.about-btn--container p {
    width: 100%;
    margin: 15px 0px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Padauk', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: $blanco;
}

.main-experience-container h2 {
    width: 95%;
    min-width: 120px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 5px;
    padding: 10px 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: $blancoMedio;
    box-shadow: 0px 2px 4px $azulshadow;
    color: $azultext;
}

.experience-cards--container {
    width: 100%;
    margin-top: 30px;
}

.experience-detail--card {
    width: 80%;
    height: auto;
    min-width: 120px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 2px $azultext;
    border: $azulshadow solid 0.5px;
    background-color: $blancoMedio;
    &:hover {
        width: 90%;
        background: #7bc8ff75;
        .hidden {
            display: inherit;
            visibility: inherit;
        }
        .card-title .graduation,
        .practice,
        .work {
            width: 30px;
            height: 30px;
            margin-top: 5px;
            margin-left: 5px;
        }
        .card-title h3 {
            text-align: left;
            margin-bottom: 5px;
            font-size: 1.3rem;
        }
    }
}

.experience-detail--card .graduation {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 12%;
    margin-left: calc(50% - 35px);
    margin-bottom: 0px;
    background-image: url(../assets/icons/sombrero-de-graduacion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.experience-detail--card .practice {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 12%;
    margin-left: calc(50% - 35px);
    margin-bottom: 0px;
    background-image: url(../assets/icons/obrero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.experience-detail--card .work {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 12%;
    margin-left: calc(50% - 35px);
    margin-bottom: 0px;
    background-image: url(../assets/icons/portfolio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.experience-detail--card h3 {
    width: 95%;
    min-width: 120px;
    padding-top: 0px;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 10%;
    line-height: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: $azultext;
    body.dark & {
        color: $azulshadow;
    }
}

.hidden {
    display: none;
}

.visibility--hidden {
    visibility: hidden;
}

.experience-detail--card h4 {
    width: 95%;
    min-width: 120px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: 1.25rem;
    line-height: 1.05rem;
    font-weight: 500;
}

.experience-detail--card p {
    width: 100%;
    min-width: 120px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    line-height: 1rem;
}

.experience-detail--card small {
    width: 100%;
    min-width: 120px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 0.8rem;
    // text-align: center;
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
}

.experience-detail--card a {
    font-style: italic;
    color: $azultext;
    &:hover {
        text-shadow: 1px 1px 2px $azulshadow;
    }
    body.dark & {
        color: $blanco;
    }
}

.experience-scroll--card {
    width: 100%;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 1px;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
}

.experience-scroll--card h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: $azultext;
    body.dark & {
        color: $azulshadow;
    }
}

.experience-card--proyect img {
    width: 20%;
    margin-left: 5%;
}

.experience-card--proyect h5 {
    font-size: 1rem;
    margin-left: 4%;
}

.experience-card--proyect p {
    width: 70%;
    min-width: 120px;
    max-width: 300px;
    margin-right: 5%;
    float: right;
}

.experience-card--proyect a {
    width: auto;
    margin-left: calc(50% - 30px);
    margin-right: 5%;
    padding: 0.1rem 0.5rem;
    text-align: right;
    float: right;
    margin-bottom: 25px;
    font-size: 1rem;
    border: $azulshadow solid 0.5px;
    border-radius: 5px;
    &:hover {
        background: $azulHover;
    }
}

.experience-scroll--card hr {
    margin-bottom: 2rem;
    border: $azulshadow 0.1px solid;
}

section+.experience-detail--card {
    margin-bottom: 80px;
}

.main-skills-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: whitesmoke;
    border: transparent 0.01px solid;
}

.main-skills-container .about-btn--container p {
    width: 100%;
    margin: 15px 0px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Padauk', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: $blanco;
}

.main-skills-container h2 {
    width: 95%;
    min-width: 120px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 5px;
    padding: 10px 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: $blancoMedio;
    box-shadow: 0px 2px 4px $azulshadow;
    color: $azultext;
}

.main-skills-container h3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    color: $azultext;
}

.skill-card--container {
    width: 80%;
    min-width: 120px;
    max-width: 400px;
    height: 100%;
    margin: 15px auto;
    padding: 15px;
    background-color: $blanco;
    border-radius: 5px;
    box-shadow: 0px 2px 4px $azultext;
}

.skill-card--container h3 {
    body.dark & {
        color: $azulshadow;
    }
}

.skill-card--container li {
    width: 100%;
    color: $azultext;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 300;
    text-align: center;
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
}

.skill-detail--container {
    position: relative;
}

.computer-dark {
    display: block;
    width: 90%;
    margin-top: 3rem;
    margin-left: calc(50% - 145px);
    margin-bottom: 5rem;
    min-width: 120px;
    max-width: 280px;
}

.skills-detail-container {
    position: absolute;
    width: 80%;
    min-width: 120px;
    max-width: 280px;
    margin: 0 auto;
    top: 5px;
    margin-left: calc(50% - 130px);
    &:hover {
        position: absolute;
        top: -0.5rem;
        width: 80%;
        min-width: 120px;
        max-width: 400px;
        height: 250px;
        margin: 0 10%;
        background-color: $blanco;
        border-radius: 5px;
        box-shadow: 0px 2px 4px $azultext;
        body.dark & {
            h3 {
                color: $azulshadow;
            }
            background: $azulNoHover;
            border: $azulshadow solid 0.5px;
        }
    }
    @media screen and (max-width:363px) {
        &:hover {
            position: absolute;
            width: 80%;
            min-width: 120px;
            max-width: 280px;
            height: 100px;
            margin: 0 auto;
            top: 5px;
            margin-left: calc(50% - 130px);
            background-color: transparent;
            border-radius: none;
            box-shadow: none;
            body.dark & {
                h3 {
                    color: $azultext;
                }
                background-color: transparent;
                border: none;
            }
        }
    }
    @media screen and (min-width:480px) {
        &:hover {
            margin-left: calc(50% - 200px);
        }
    }
}

.skills-scroll--table {
    width: 85%;
    height: 95px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    padding-left: 5px;
    font-size: 0.8rem;
    background-color: transparent;
    &:hover {
        height: 210px;
        font-size: 1.2rem;
        img {
            width: 45px;
            margin-left: -45px;
        }
    }
    @media screen and (max-width: 363px) {
        height: 95px;
        &:hover {
            height: 95px;
            font-size: 0.8rem;
            img {
                width: 40px;
                margin-left: -10px;
            }
        }
    }
    @media screen and (min-width: 363px) {
        img {
            width: 70px !important;
            margin-left: -10px !important;
        }
    }
}

.skills-scroll--table table {
    width: auto;
    margin: 0 auto;
}

.skills-scroll--table img {
    width: 40px;
    margin-left: -10px;
}

.border {
    border: solid purple;
}

.scroll_courses-home {
    width: 100%;
    height: 72vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.scroll_courses-home article div {
    width: 80%;
    min-width: 100px;
    max-width: 300px;
    margin: 0 auto;
}

.scroll_courses-home article {
    width: 80%;
    color: $azultext;
    margin: 0 auto;
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    line-height: 1.2rem;
    text-align: center;
    color: $azultext;
    body.dark & {
        color: $blanco;
    }
}

.scroll_courses-home article p {
    font-size: 1.2rem;
    font-weight: 100;
}

.scroll_courses-home article h4 {
    font-style: italic;
    font-size: 1.3rem;
    font-weight: bold;
}

.scroll_courses-home article small {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.img_courses {
    width: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    background-color: $blanco;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.24);
    body.dark & {
        background-color: $grisOscuro;
    }
}

footer .container_info {
    font-size: 1.5rem;
    height: 3rem;
    justify-content: space-around;
    flex-grow: 1;
}

footer .container_social {
    flex-grow: 2;
    height: 3rem;
    text-align: center;
    padding-top: 0.5rem;
}

footer h4 {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: $azultext;
    body.dark & {
        color: $azul;
    }
}

footer article a {
    margin: 0.3rem;
}

footer .facebook {
    display: inline-block;
    width: 30px;
    height: 30px;
    // margin-top: 20px;
    // margin-left: 36%;
    // margin-bottom: 4px;
    background-image: url(../assets/imgs/logo/facebook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    body.dark & {
        background-image: url(../assets/imgs/logo/facebookW.png);
    }
}

footer .instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
    // margin-top: 20px;
    // margin-left: 36%;
    // margin-bottom: 4px;
    background-image: url(../assets/imgs/logo/instagram.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    body.dark & {
        background-image: url(../assets/imgs/logo/instagramW.png);
    }
}

footer .github {
    display: inline-block;
    width: 30px;
    height: 30px;
    // margin-top: 20px;
    // margin-left: 36%;
    // margin-bottom: 4px;
    background-image: url(../assets/imgs/logo/github.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    body.dark & {
        background-image: url(../assets/imgs/logo/githubW.png);
    }
}

footer .linkedin {
    display: inline-block;
    width: 30px;
    height: 30px;
    // margin-top: 20px;
    // margin-left: 36%;
    // margin-bottom: 4px;
    background-image: url(../assets/imgs/logo/linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    body.dark & {
        background-image: url(../assets/imgs/logo/linkedinW.png);
    }
}

// ----- ----- ----- ----- ----- Theme ----- ----- ----- ----- ----- 
.theme {
    background: $azultext;
    border-radius: 100px;
    height: 30px;
    margin-top: 15px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: $blanco;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    }
    &.active {
        background: orange;
        color: #000;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}

// -----------------------------BOTONES-----------------------------
.button_WhatsApp {
    display: block;
    width: 60px;
    height: 60px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
    .img_whatsapp-home {
        width: 100%;
    }
}

// ----------------------------------------------ANIMACIONES----------------------------------------------------------//    
.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50% {
        transform: translateX(-8%);
    }
    65% {
        transform: translateX(4%);
    }
    80% {
        transform: translateX(-4%);
    }
    95% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50% {
        -webkit-transform: translateX(-8%);
    }
    65% {
        -webkit-transform: translateX(4%);
    }
    80% {
        -webkit-transform: translateX(-4%);
    }
    95% {
        -webkit-transform: translateX(2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(8%);
    }
    65% {
        transform: translateX(-4%);
    }
    80% {
        transform: translateX(4%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50% {
        -webkit-transform: translateX(8%);
    }
    65% {
        -webkit-transform: translateX(-4%);
    }
    80% {
        -webkit-transform: translateX(4%);
    }
    95% {
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.expandUp {
    animation-name: expandUp;
    -webkit-animation-name: expandUp;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes expandUp {
    0% {
        transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60% {
        transform: translateY(-7%) scaleY(1.12);
    }
    75% {
        transform: translateY(3%);
    }
    100% {
        transform: translateY(0%) scale(1) scaleY(1);
    }
}

@-webkit-keyframes expandUp {
    0% {
        -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60% {
        -webkit-transform: translateY(-7%) scaleY(1.12);
    }
    75% {
        -webkit-transform: translateY(3%);
    }
    100% {
        -webkit-transform: translateY(0%) scale(1) scaleY(1);
    }
}