* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.analistaNecesidades {
    background-image: url(/assets/imgs/constancias/aprendeOrg/analistaNecesidadesFormacion.JPG);
}

.desarrolladorContenidos {
    background-image: url(/assets/imgs/constancias/aprendeOrg/desarrolladorContenidosAprendizaje.JPG);
}

.finder {
    background-image: url(/assets/imgs/constancias/aprendeOrg/finder.JPG);
}

.covid {
    background-image: url(/assets/imgs/constancias/gob/saludMentalCovid19.JPG);
}

.competenciasDigitales {
    background-image: url(/assets/imgs/constancias/google/competenciasDigitales.JPG);
}

.introduccionWeb1 {
    background-image: url(/assets/imgs/constancias/google/introduccionWeb1.JPG);
}

.introduccionWeb2 {
    background-image: url(/assets/imgs/constancias/google/introduccionWeb2.JPG);
}

.productividadPersonal {
    background-image: url(/assets/imgs/constancias/google/productividadPersonal.JPG);
}

.transDigital {
    background-image: url(/assets/imgs/constancias/google/transDigital.JPG);
}

.basicoJS {
    background-image: url(/assets/imgs/constancias/platzi/basicoJS.JPG);
}

.frontendDeveloper {
    background-image: url(/assets/imgs/constancias/platzi/frontendDeveloper.JPG);
}

.gitGithub {
    background-image: url(/assets/imgs/constancias/platzi/gitGithub.JPG);
}

.marcaPersonal {
    background-image: url(/assets/imgs/constancias/platzi/marcaPersonal.JPG);
}

.prework {
    background-image: url(/assets/imgs/constancias/platzi/prework.JPG);
}

.responsiveDesign {
    background-image: url(/assets/imgs/constancias/platzi/responsiveDesign.JPG);
}

.definitivoHtml {
    background-image: url(/assets/imgs/constancias/platzi/definitivoHtml.JPG);
}

.fundamentosJS {
    background-image: url(/assets/imgs/constancias/platzi/fundamentosJS.JPG);
}

.introWeb {
    background-image: url(/assets/imgs/constancias/platzi/introWeb.JPG);
}

.practicoHtml {
    background-image: url(/assets/imgs/constancias/platzi/practicoHtml.JPG);
}

.programacionBasica {
    background-image: url(/assets/imgs/constancias/platzi/programacionBasica.JPG);
}

.arturGraduado2 {
    background-image: url(/assets/imgs/artur/arturGraduado2.jpg);
}

.arturFamilia1 {
    background-image: url(/assets/imgs/artur/arturFamilia1.jpg);
}

.arturFamilia0 {
    background-image: url(/assets/imgs/artur/arturFamilia0.jpg);
}

.arturFamilia2 {
    background-image: url(/assets/imgs/artur/arturFamilia2.jpg);
}

.arturFamilia3 {
    background-image: url(/assets/imgs/artur/arturFamilia3.jpg);
}

.arturAmigos {
    background-image: url(/assets/imgs/artur/arturAmigos.jpg);
}

.arturCiclista0 {
    background-image: url(/assets/imgs/artur/arturCiclista0.jpg);
}

.arturAmigos0 {
    background-image: url(/assets/imgs/artur/arturAmigos0.jpg);
}

.arturCiclista2 {
    background-image: url(/assets/imgs/artur/arturCiclista2.jpg);
}

.arturCiclista1 {
    background-image: url(/assets/imgs/artur/arturCiclista1.jpg);
}

.arturCiclista {
    background-image: url(/assets/imgs/artur/arturCiclista.jpg);
}

.arturGraduado {
    background-image: url(/assets/imgs/artur/arturGraduado.jpg);
}

.arturGraduado1 {
    background-image: url(/assets/imgs/artur/arturGraduado1.jpg);
}

.arturGraduado0 {
    background-image: url(/assets/imgs/artur/arturGraduado0.jpg);
}

.arturFamilia {
    background-image: url(/assets/imgs/artur/arturFamilia.jpg);
}

.arturFamilia5 {
    background-image: url(/assets/imgs/artur/arturFamilia5.jpg);
}

.arturFamilia4 {
    background-image: url(/assets/imgs/artur/arturFamilia4.jpg);
}

.artur {
    background-image: url(/assets/imgs/artur/artur.jpg);
}

.arturAmigos1 {
    background-image: url(/assets/imgs/artur/arturAmigos1.jpg);
}

.arturAmigos2 {
    background-image: url(/assets/imgs/artur/arturAmigos2.jpg);
}

.arturAmigos3 {
    background-image: url(/assets/imgs/artur/arturAmigos3.jpg);
}

.arturAmigos5 {
    background-image: url(/assets/imgs/artur/arturAmigos5.jpg);
}

.arturPonente {
    background-image: url(/assets/imgs/artur/arturPonente.jpg);
}

.arturSombrero {
    background-image: url(/assets/imgs/artur/arturSombrero.jpg);
}

.arturAmigos6 {
    background-image: url(/assets/imgs/artur/arturAmigos6.jpg);
}

.arturAmigos7 {
    background-image: url(/assets/imgs/artur/arturAmigos7.jpg);
}

.arturAmigos8 {
    background-image: url(/assets/imgs/artur/arturAmigos8.jpg);
}

.arturAmigos9 {
    background-image: url(/assets/imgs/artur/arturAmigos9.jpg);
}