* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* .margin1 {
    /* padding: 1%; */


/* border: yellow solid;
} */


/* .margin2 {
    border: green solid;
}

.margin3 {
    border: red solid;
}

.float {
    /* float: left; */


/* z-index: 100;
    position: absolute;
} */